<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>POST Request</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <h1>配信リクエスト送信</h1>
    <!-- <img src="{{ url_for('static', filename='IMG_6827.PNG') }}" alt="Image"> -->
    <!-- <p>↓送りたい人のID(例:画像のidってとこ)↓</p> -->
    <form action="/submit" method="POST">
        <h2>配信リクエスト送信</h2>
        <label for="user_id">ユーザーID:</label>
        <input type="text" id="user_id" name="user_id" required>
        <br><br>
        <label for="count">リクエスト数:</label>
        <input type="number" id="count" name="count" min="1" max="2000000000" required>
        <!-- <p>↑送りたいリクエスト数(1~2000000000)↑</p> -->
        <br><br>
        <button type="submit">送信</button>
        
    </form>
    <form action="/change" method="POST">
        <h2>ユーザー名変更</h2>
        <label for="user_name">ユーザー名:</label>
        <input type="text" id="user_name" name="user_name" required>
        {% if code == 200 %}
            <p>変更が完了しました</p>
        {% elif code is none %}
            <br><br><br><br>
        {% else %}
            <p>エラーが発生しました</p>
        {% endif %}
        <br><br><br><br>
        <button type="submit">変更</button>
    </form>
</body>
</html>
